.contenedorVistaBlockchain{
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.contenedorHeadContenidoBlockchain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.BlockchainData{
    height:45%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: auto;
}

.ArbolMerkleAdmin
{
    height:45%;
    width: 100%;
}



.Blockchain{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    height: 100%;
    width: 1000px;
    margin-left: 20px;

}